In [4]:
#Importing all our libraries for this data cleaning project

import pandas as pd
from pandasql import sqldf
pysqldf = lambda q : sqldf(q, globals())

In [2]:
#Import dataset

housing = pd.read_csv("Nashville Housing Data for Data Cleaning.csv")

In [5]:
#Previewing your dataset

pysqldf("SELECT * FROM housing")

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE","April 9, 2013",240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE","June 10, 2014",366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE","September 26, 2016",435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE","January 29, 2016",255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE","October 10, 2014",278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56472,30469,188 10 0A 101.00,SINGLE FAMILY,"1435 WINDING CREEK DR, NOLENSVILLE","May 27, 2015",157500,20150608-0053286,No,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56473,27707,188 10 0A 107.00,SINGLE FAMILY,"1423 WINDING CREEK DR, NOLENSVILLE","March 2, 2015",145000,20150304-0019013,No,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56474,52709,188 10 0A 118.00,VACANT RESIDENTIAL LAND,"1804 GRACE POINT LN, NOLENSVILLE","August 16, 2016",234611,20160819-0087214,Yes,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56475,54042,188 10 0A 121.00,VACANT RESIDENTIAL LAND,"1709 PARK TERRACE LN, NOLENSVILLE","September 7, 2016",93844,20160919-0098411,Yes,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56476,54043,188 10 0A 122.00,VACANT RESIDENTIAL LAND,"1713 PARK TERRACE LN, NOLENSVILLE","September 7, 2016",93844,20160919-0098411,Yes,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56477 entries, 0 to 56476
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UniqueID         56477 non-null  int64
 1   ParcelID         56477 non-null  object
 2   LandUse          56477 non-null  object
 3   PropertyAddress  56448 non-null  object
 4   SaleDate         56477 non-null  object
 5   SalePrice        56477 non-null  object
 6   LegalReference   56477 non-null  object
 7   SoldAsVacant     56477 non-null  object
 8   OwnerName        25261 non-null  object
 9   OwnerAddress     26015 non-null  object
 10  Acreage          26015 non-null  float64
 11  TaxDistrict      26015 non-null  object
 12  LandValue        26015 non-null  float64
 13  BuildingValue    26015 non-null  float64
 14  TotalValue       26015 non-null  float64
 15  YearBuilt        24163 non-null  float64
 16  Bedrooms         24157 non-null  float64
 17  FullBath         24275 non-null  float64
 18  HalfBath         24144 non-null  float64
dtypes: float64(8), int64(1), object(10)
memory usage: 8.2+ MB

In [11]:
#Standardize our saledate format

housing['SaleDate'] = pd.to_datetime(housing['SaleDate'])

In [13]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56477 entries, 0 to 56476
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UniqueID         56477 non-null  int64
 1   ParcelID         56477 non-null  object
 2   LandUse          56477 non-null  object
 3   PropertyAddress  56448 non-null  object
 4   SaleDate         56477 non-null  datetime64[ns]
 5   SalePrice        56477 non-null  object
 6   LegalReference   56477 non-null  object
 7   SoldAsVacant     56477 non-null  object
 8   OwnerName        25261 non-null  object
 9   OwnerAddress     26015 non-null  object
 10  Acreage          26015 non-null  float64
 11  TaxDistrict      26015 non-null  object
 12  LandValue        26015 non-null  float64
 13  BuildingValue    26015 non-null  float64
 14  TotalValue       26015 non-null  float64
 15  YearBuilt        24163 non-null  float64
 16  Bedrooms         24157 non-null  float64
 17  FullBath         24275 non-null  float64
 18  HalfBath         24144 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(1), object(9)
memory usage: 8.2+ MB

In [14]:
#Populating the null values within our property address

pysqldf("SELECT * FROM housing WHERE PropertyAddress IS NULL ORDER BY ParcelID")

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,43076,025 07 0 031.00,SINGLE FAMILY,None,2016-01-15 00:00:00.000000,179900,20160120-0005776,No,"COSTNER, FRED & CAROLYN","410 ROSEHILL CT, GOODLETTSVILLE, TN",0.96,CITY OF GOODLETTSVILLE,30000.0,70000.0,100000.0,1964.0,3.0,1.0,0.0
1,39432,026 01 0 069.00,VACANT RESIDENTIAL LAND,None,2015-10-23 00:00:00.000000,153000,20151028-0109602,No,"SHACKLEFORD, MICHAEL C., JR.","141 TWO MILE PIKE, GOODLETTSVILLE, TN",0.17,CITY OF GOODLETTSVILLE,21100.0,121600.0,142700.0,2015.0,3.0,2.0,0.0
2,45290,026 05 0 017.00,SINGLE FAMILY,None,2016-03-29 00:00:00.000000,155000,20160330-0029941,No,"TRIPP, MARVIN S. & DEBORAH YOUNG","208 EAST AVE, GOODLETTSVILLE, TN",0.20,CITY OF GOODLETTSVILLE,21100.0,130200.0,151300.0,2008.0,3.0,2.0,0.0
3,53147,026 06 0A 038.00,RESIDENTIAL CONDO,None,2016-08-25 00:00:00.000000,144900,20160831-0091567,No,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,43080,033 06 0 041.00,SINGLE FAMILY,None,2016-01-04 00:00:00.000000,170000,20160107-0001526,No,"FRANK, ZACHARY & NIKI","1129 CAMPBELL RD, GOODLETTSVILLE, TN",0.24,GENERAL SERVICES DISTRICT,35000.0,110500.0,145500.0,2000.0,3.0,2.0,0.0
5,45295,033 06 0A 002.00,SINGLE FAMILY,None,2016-03-29 00:00:00.000000,210000,20160331-0030709,No,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,48731,033 15 0 123.00,SINGLE FAMILY,None,2016-05-05 00:00:00.000000,199900,20160506-0045368,No,"COLEMAN, AARON A. & CECIL, CORRIE J.","438 W CAMPBELL RD, GOODLETTSVILLE, TN",1.39,GENERAL SERVICES DISTRICT,45000.0,90300.0,135300.0,1954.0,2.0,1.0,0.0
7,36531,034 03 0 059.00,SINGLE FAMILY,None,2015-08-13 00:00:00.000000,245000,20150819-0083759,No,"DILICK, JOHN MARK & ANNETTE A.","2117 PAULA DR, MADISON, TN",1.01,GENERAL SERVICES DISTRICT,32000.0,170000.0,228300.0,1964.0,4.0,3.0,0.0
8,46919,034 07 0B 015.00,VACANT RESIDENTIAL LAND,None,2016-04-27 00:00:00.000000,40000,20160304-0020905,Yes,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,44264,034 16 0A 004.00,VACANT RESIDENTIAL LAND,None,2016-02-04 00:00:00.000000,130000,20160205-0011327,Yes,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,45298,041 03 0A 100.00,SINGLE FAMILY,None,2016-03-18 00:00:00.000000,170000,20160322-0027048,No,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,40678,042 13 0 075.00,SINGLE FAMILY,None,2015-11-30 00:00:00.000000,208000,20151209-0123831,No,"SADOWSKY, ERIC C. & LISA D.","222 FOXBORO DR, MADISON, TN",1.01,GENERAL SERVICES DISTRICT,30000.0,100000.0,130000.0,1967.0,3.0,1.0,1.0
12,47293,043 04 0 014.00,SINGLE FAMILY,None,2016-04-29 00:00:00.000000,190000,20160503-0043576,No,"CRIPPS, WILLIE S. JR. & GINEA M.","112 HILLER DR, OLD HICKORY, TN",0.29,GENERAL SERVICES DISTRICT,17000.0,143700.0,173600.0,1956.0,4.0,2.0,1.0
13,22775,043 09 0 074.00,VACANT RESIDENTIAL LAND,None,2014-10-27 00:00:00.000000,151000,20141028-0099094,Yes,"BREWER HOLDINGS, LLC","213 B LOVELL ST, MADISON, TN",0.15,GENERAL SERVICES DISTRICT,18000.0,115600.0,133600.0,2015.0,3.0,2.0,0.0
14,45349,043 13 0 308.00,SINGLE FAMILY,None,2016-03-31 00:00:00.000000,155000,20160405-0032445,No,"JACKSON, ADAM L. & MOORE, MARY A.","224 HICKORY ST, MADISON, TN",0.16,GENERAL SERVICES DISTRICT,16000.0,65900.0,81900.0,1940.0,2.0,1.0,0.0
15,50927,044 05 0 135.00,SINGLE FAMILY,None,2016-06-15 00:00:00.000000,160000,20160617-0061987,No,"SMITH, WARREN & MARTHA","202 KEETON AVE, OLD HICKORY, TN",0.12,GENERAL SERVICES DISTRICT,19000.0,102700.0,121700.0,2015.0,4.0,2.0,0.0
16,3299,052 01 0 296.00,SINGLE FAMILY,None,2013-05-31 00:00:00.000000,79370,20130620-0063114,No,"KIRBY, WILLIAM E. JR","726 IDLEWILD DR, MADISON, TN",0.22,GENERAL SERVICES DISTRICT,16000.0,60800.0,76800.0,1957.0,2.0,1.0,0.0
17,43151,052 08 0A 320.00,SINGLE FAMILY,None,2016-01-15 00:00:00.000000,150000,20160119-0004918,No,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,49886,092 06 0 273.00,SINGLE FAMILY,None,2016-06-21 00:00:00.000000,186000,20160705-0068281,No,"SOLAVA, RACHEL LYNN","2721 HERMAN ST, NASHVILLE, TN",0.17,URBAN SERVICES DISTRICT,9000.0,63200.0,72200.0,1987.0,2.0,1.0,1.0
19,27140,092 06 0 282.00,SINGLE FAMILY,None,2015-02-20 00:00:00.000000,41500,20150224-0015900,No,PROSPERITAS PARTNERS LLC,"815 31ST AVE N, NASHVILLE, TN",0.17,URBAN SERVICES DISTRICT,13000.0,49400.0,62400.0,1960.0,2.0,1.0,0.0
20,11478,092 13 0 322.00,SINGLE FAMILY,None,2014-01-17 00:00:00.000000,269500,20140122-0006168,No,"WIGGINS, MATHEW L. & GOOD, KENDRA A.","237 37TH AVE N, NASHVILLE, TN",0.34,URBAN SERVICES DISTRICT,91000.0,107100.0,198100.0,1945.0,2.0,1.0,0.0
21,32385,092 13 0 339.00,SINGLE FAMILY,None,2015-06-05 00:00:00.000000,450000,20150618-0058311,No,"JUMPER, NICOLE","311 35TH AVE N, NASHVILLE, TN",0.16,URBAN SERVICES DISTRICT,65000.0,365300.0,430300.0,2015.0,3.0,3.0,1.0
22,8126,093 08 0 054.00,SINGLE FAMILY,None,2013-09-20 00:00:00.000000,25000,20130923-0099666,N,"CRAWFORD, CHRISTOPHER C. & BOBBIE LEANN","700 GLENVIEW DR, NASHVILLE, TN",0.21,URBAN SERVICES DISTRICT,25000.0,236800.0,261800.0,2015.0,3.0,2.0,1.0
23,45774,107 13 0 107.00,SINGLE FAMILY,None,2016-03-28 00:00:00.000000,169900,20160330-0030078,No,"GROOMS, MICAH & CASEY","1205 THOMPSON PL, NASHVILLE, TN",0.39,URBAN SERVICES DISTRICT,17000.0,75600.0,96200.0,1949.0,3.0,1.0,0.0
24,14753,108 07 0A 026.00,RESIDENTIAL CONDO,None,2014-04-15 00:00:00.000000,79900,20140416-0031777,No,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,15886,109 04 0A 080.00,VACANT RES LAND,None,2014-05-13 00:00:00.000000,255590,20140514-0041276,No,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,24197,110 03 0A 061.00,SINGLE FAMILY,None,2014-11-19 00:00:00.000000,269750,20141120-0106962,No,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,51930,113 14 0A 002.00,VACANT RESIDENTIAL LAND,None,2016-07-05 00:00:00.000000,133000,20160707-0069375,Yes,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,51703,114 15 0A 030.00,RESIDENTIAL CONDO,None,2016-07-08 00:00:00.000000,343235,20160713-0071757,No,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
Addresscom = housing['PropertyAddress'].str.split(",", n = 1, expand = True)

In [33]:
housing["Address"] = Addresscom[0]
housing["City"] = Addresscom[1]

In [35]:
housing.drop(columns = ["PropertyAddress"], inplace = True)

In [37]:
owneraddress = housing['OwnerAddress'].str.split(",", n = 1, expand = True)

In [39]:
housing["OwnerAddress"] = owneraddress[0]
housing["OwnerCityState"] = owneraddress[1]

In [44]:
housing.drop(columns = ["OwnerCity"], inplace = True)
housing.drop(columns = ["OwnerAddress"], inplace = True)

In [45]:
owneraddress = housing['OwnerCityState'].str.split(",", n = 1, expand = True)

In [46]:
housing["OwnerAdd"] = owneraddress[0]
housing["OwnerState"] = owneraddress[1]

In [48]:
housing.drop(columns = ["OwnerCityState"], inplace = True)
housing.drop(columns = ["OwnerAdd"], inplace = True)

In [49]:
pysqldf("SELECT * FROM housing")

,UniqueID,ParcelID,LandUse,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,Address,City,OwnerState
0,2045,007 00 0 125.00,SINGLE FAMILY,2013-04-09 00:00:00.000000,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0,1808 FOX CHASE DR,GOODLETTSVILLE,TN
1,16918,007 00 0 130.00,SINGLE FAMILY,2014-06-10 00:00:00.000000,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0,1832 FOX CHASE DR,GOODLETTSVILLE,TN
2,54582,007 00 0 138.00,SINGLE FAMILY,2016-09-26 00:00:00.000000,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0,1864 FOX CHASE DR,GOODLETTSVILLE,TN
3,43070,007 00 0 143.00,SINGLE FAMILY,2016-01-29 00:00:00.000000,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0,1853 FOX CHASE DR,GOODLETTSVILLE,TN
4,22714,007 00 0 149.00,SINGLE FAMILY,2014-10-10 00:00:00.000000,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0,1829 FOX CHASE DR,GOODLETTSVILLE,TN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56472,30469,188 10 0A 101.00,SINGLE FAMILY,2015-05-27 00:00:00.000000,157500,20150608-0053286,No,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1435 WINDING CREEK DR,NOLENSVILLE,None
56473,27707,188 10 0A 107.00,SINGLE FAMILY,2015-03-02 00:00:00.000000,145000,20150304-0019013,No,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1423 WINDING CREEK DR,NOLENSVILLE,None
56474,52709,188 10 0A 118.00,VACANT RESIDENTIAL LAND,2016-08-16 00:00:00.000000,234611,20160819-0087214,Yes,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1804 GRACE POINT LN,NOLENSVILLE,None
56475,54042,188 10 0A 121.00,VACANT RESIDENTIAL LAND,2016-09-07 00:00:00.000000,93844,20160919-0098411,Yes,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1709 PARK TERRACE LN,NOLENSVILLE,None
56476,54043,188 10 0A 122.00,VACANT RESIDENTIAL LAND,2016-09-07 00:00:00.000000,93844,20160919-0098411,Yes,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1713 PARK TERRACE LN,NOLENSVILLE,None

In [58]:
pysqldf("SELECT DISTINCT(SoldAsVacant) FROM housing")

  SoldAsVacant
0           No
1            N
2          Yes
3            Y

In [57]:
#Changing Y and N to Yes and No

pysqldf("SELECT SoldAsVacant, CASE WHEN SoldAsVacant = 'Y' THEN 'Yes' WHEN SoldAsVacant = 'N' THEN 'No' ELSE SoldAsVacant END FROM housing")

,SoldAsVacant,CASE WHEN SoldAsVacant = 'Y' THEN 'Yes' WHEN SoldAsVacant = 'N' THEN 'No' ELSE SoldAsVacant END
0,No,No
1,No,No
2,No,No
3,No,No
4,No,No
...,...,...
56472,No,No
56473,No,No
56474,Yes,Yes
56475,Yes,Yes
56476,Yes,Yes

In [60]:
housing["SoldAsVacant"] = housing["SoldAsVacant"].replace("Y", "Yes")
housing["SoldAsVacant"] = housing["SoldAsVacant"].replace("N", "No")

In [61]:
pysqldf("SELECT DISTINCT(SoldAsVacant) FROM housing")

  SoldAsVacant
0           No
1          Yes

In [74]:
#Removing duplicates

housing.drop_duplicates(subset = None, keep = 'first', inplace = True)

In [76]:
#Preview cleaned data

pysqldf("SELECT * FROM housing")

,UniqueID,ParcelID,LandUse,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,Address,City,OwnerState
0,2045,007 00 0 125.00,SINGLE FAMILY,2013-04-09 00:00:00.000000,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0,1808 FOX CHASE DR,GOODLETTSVILLE,TN
1,16918,007 00 0 130.00,SINGLE FAMILY,2014-06-10 00:00:00.000000,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0,1832 FOX CHASE DR,GOODLETTSVILLE,TN
2,54582,007 00 0 138.00,SINGLE FAMILY,2016-09-26 00:00:00.000000,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0,1864 FOX CHASE DR,GOODLETTSVILLE,TN
3,43070,007 00 0 143.00,SINGLE FAMILY,2016-01-29 00:00:00.000000,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0,1853 FOX CHASE DR,GOODLETTSVILLE,TN
4,22714,007 00 0 149.00,SINGLE FAMILY,2014-10-10 00:00:00.000000,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0,1829 FOX CHASE DR,GOODLETTSVILLE,TN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56472,30469,188 10 0A 101.00,SINGLE FAMILY,2015-05-27 00:00:00.000000,157500,20150608-0053286,No,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1435 WINDING CREEK DR,NOLENSVILLE,None
56473,27707,188 10 0A 107.00,SINGLE FAMILY,2015-03-02 00:00:00.000000,145000,20150304-0019013,No,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1423 WINDING CREEK DR,NOLENSVILLE,None
56474,52709,188 10 0A 118.00,VACANT RESIDENTIAL LAND,2016-08-16 00:00:00.000000,234611,20160819-0087214,Yes,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1804 GRACE POINT LN,NOLENSVILLE,None
56475,54042,188 10 0A 121.00,VACANT RESIDENTIAL LAND,2016-09-07 00:00:00.000000,93844,20160919-0098411,Yes,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1709 PARK TERRACE LN,NOLENSVILLE,None
56476,54043,188 10 0A 122.00,VACANT RESIDENTIAL LAND,2016-09-07 00:00:00.000000,93844,20160919-0098411,Yes,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1713 PARK TERRACE LN,NOLENSVILLE,None

In [77]:
#Export data

housing.to_csv('Processed.csv')